@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
