<article class="card">
  <img class="card-image" src="../../assets/toolkit/images/05-night.jpg" alt="Card image" />
  <section class="card-text">
    <h3>Cabin 1</h3>
    <p>
      Nulla faucibus aliquet lacus, ac auctor turpis pulvinar.nisi at
      placerat pharetra. Vivamus id erat consequat, condimentum ligula eu,
      vehicula odio. Nulla faucibus aliquet lacus, ac auctor turpis
      pulvinar.
    </p>
  </section>
  <section class="card-list">
    <ul>
      <li class="list-item">Consectetur adipiscing</li>
      <li class="list-item">Varius et ante</li>
      <li class="list-item">Malesuada nisl</li>
      <li class="list-item">Vivamus id erat</li>
    </ul>

    <a href="./cabin.html" class="bookButton">Read more and book now!</a>
  </section>
</article>